RewriteEngine on
RewriteBase /
# Rewrites all URLS without blog in them
RewriteCond %{REQUEST_URI} !^/dist/
# Rewrites all URLS [Replace "example" with the actual domain, without the TLD (.com, .net, .biz, etc)]
RewriteCond %{HTTP_HOST} ^(www\.)?irecipe.innaweb\.
# Rewrite all those to insert /folder
RewriteRule ^(.*)$ /dist/$1 [L]

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]