body {
  font-family: 'IBM Plex Sans', sans-serif;
  background: rgb(255,255,255);
  background: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
}

ini-resep .card-body {
  background: rgb(255,255,255);
  background: linear-gradient(350deg, rgb(255, 255, 255) 0%, rgb(247, 247, 247) 100%);
}

ini-resep h3, ini-resep .card-title, ini-resep .btn {
    font-weight: bold;
}

ini-resep .fa {
    font-size: 0.8rem;
}

/* grayscale to color img effect
ini-resep img{
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-webkit-transition: all 1s ease;
}

ini-resep img:hover{
filter: grayscale(0%);
filter: gray;
-webkit-filter: grayscale(0%);
filter: none;
transition: 1s ease;
} */
