@import '~mdb-ui-kit/css/mdb.min.css';

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(238, 238, 238) 100%);
}

.input-group>.form-control:focus {
    border-color: none;
    box-shadow: none;
}

nav .slogan {
    font-family: 'IBM Plex Mono', serif;
    font-size: .8rem;
}

nav.navbar > div.container-fluid {
    flex-wrap: nowrap;
}

.navbar-brand, #navbar-search {
    display: flex;
}

p {
    line-height: 2rem;
}

.rounded-pill-left {
  border-top-left-radius: 50rem !important;
  border-bottom-left-radius: 50rem !important;
}

.rounded-pill-right {
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
    font-style: italic;
}

.alert a {
    word-break: break-all;
}

main {
    scroll-margin: 100px;
    margin-top: 5rem !important;
}

.banner {
    color: azure;
    background-size: cover;
    background-image: url('../img/banner.jpg');
}

.banner .recommendations > span {
    margin-right: 1rem;
    cursor: pointer;
}

.banner .recommendations > span:hover {
    text-decoration: underline;
}

.oops {
    color: azure;
    background-image: url('../img/oops.jpg');
    background-size: cover;
    max-height: 100vw;
    position: relative !important;
    padding: 0 !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.sleek-border-radius {
    border-radius: calc(.25rem - 1px);
}

.kata-kata {
    background: black;
    background: linear-gradient(180deg, rgba(0,0,0,.1) 0%, rgba(0,0,0,.3) 100%)
}

.btn.source {
    background-color: #e2e6ea;
    font-weight: 700;
}

ini-resepthumb, ini-resepdetail {
    cursor: pointer;
    a.receipe-link {
        color: rgb(33, 37, 41);
        text-decoration: none;
    }
    .card-body {
        background: rgb(255,255,255);
        background: linear-gradient(350deg, rgb(255, 255, 255) 0%, rgb(247, 247, 247) 100%);
    }
    h3, ini-resepthumb .card-title, ini-resepthumb .btn {
        font-weight: bold;
    }
    .fa {
    font-size: 0.8rem;
    }
}

ini-resepthumb h3 {
    font-size: 1em;
}

/* grayscale to color img effect
ini-resepthumb img{
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-webkit-transition: all 1s ease;
}

ini-resepthumb img:hover{
filter: grayscale(0%);
filter: gray;
-webkit-filter: grayscale(0%);
filter: none;
transition: 1s ease;
} */


footer {
    margin-top: 2rem;
    background-color: black;
    p {
        color: white;
        font-weight: 300;
        font-size: .8rem;
    }
    .copyright > span {
        color: rgba(255, 255, 255, 0.6);
    }
    svg {
        margin: 0 2px 0 4px;
        vertical-align: text-bottom;
    }
    a, a:hover {
        color: white;
        text-decoration: none;
        font-weight: 400;
    }
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }