figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width:  28rem;
  height: 28rem;
  position: relative;
  padding: calc(1vw + 3rem);
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 378 373' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.452 2.821l-3.171 367.05c125.311 2.569 250.666 2.673 376.055.905l.84-370.289c-124.617-.622-249.191.172-373.724 2.334z' fill='url(%23a)' /%3E%3Cdefs%3E%3ClinearGradient id='a' x2='1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(377.176 -.281 .281 377.176 .281 .281)'%3E%3Cstop offset='0' stop-color='%23efeef3' /%3E%3Cstop offset='1' stop-color='%23E5E8ED' /%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A") center / cover no-repeat;
}

figure:before, 
figure:after {
  content: '';
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
}

figure:before {
  filter: blur(12px);
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .1) 80%);
  transform: skew(-7deg, -6deg) translate(0);
}

figure:after {
  filter: blur(2px);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background: rgba(0, 0, 0, .25);
  transform: skew(.75deg, 1deg) translate(-1px, -8px);
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 3px;
  vertical-align: middle;
}

figure figcaption {
  font-family: 'Courier', sans-serif;
  font-size: 12px;
  padding: 1rem 0;
}

@media (max-width: 36rem) {
  
  body {
    padding: 9vw;
  }
  
  figure {
    width: calc(100vw - 8rem);
    height: calc(100vw - 8rem);
    padding: 9vw;
  }
  
  figure figcaption {
    padding: 2.5vw 0;
  }
}